In [1]:
import pandas as pd 
import os

In [2]:
imdb_DF = pd.read_csv('Raw_Data/IMDb movies.csv')
tomato_DF = pd.read_csv('Raw_Data/rotten_tomatoes_movies.csv')

C:\Users\Hannah\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
imdb_DF.head()

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,...,actors,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics
0,tt0000009,Miss Jerry,Miss Jerry,1894,1894-10-09,Romance,45,USA,None,Alexander Black,...,"Blanche Bayliss, William Courtenay, Chauncey D...",The adventures of a female reporter in the 1890s.,5.9,154,NaN,NaN,NaN,NaN,1.0,2.0
1,tt0000574,The Story of the Kelly Gang,The Story of the Kelly Gang,1906,1906-12-26,"Biography, Crime, Drama",70,Australia,None,Charles Tait,...,"Elizabeth Tait, John Tait, Norman Campbell, Be...",True story of notorious Australian outlaw Ned ...,6.1,589,$ 2250,NaN,NaN,NaN,7.0,7.0
2,tt0001892,Den sorte drøm,Den sorte drøm,1911,1911-08-19,Drama,53,"Germany, Denmark",NaN,Urban Gad,...,"Asta Nielsen, Valdemar Psilander, Gunnar Helse...",Two men of high rank are both wooing the beaut...,5.8,188,NaN,NaN,NaN,NaN,5.0,2.0
3,tt0002101,Cleopatra,Cleopatra,1912,1912-11-13,"Drama, History",100,USA,English,Charles L. Gaskill,...,"Helen Gardner, Pearl Sindelar, Miss Fielding, ...",The fabled queen of Egypt's affair with Roman ...,5.2,446,$ 45000,NaN,NaN,NaN,25.0,3.0
4,tt0002130,L'Inferno,L'Inferno,1911,1911-03-06,"Adventure, Drama, Fantasy",68,Italy,Italian,"Francesco Bertolini, Adolfo Padovan",...,"Salvatore Papa, Arturo Pirovano, Giuseppe de L...",Loosely adapted from Dante's Divine Comedy and...,7.0,2237,NaN,NaN,NaN,NaN,31.0,14.0

In [4]:
tomato_DF.head()

,rotten_tomatoes_link,movie_title,movie_info,critics_consensus,content_rating,genres,directors,authors,actors,original_release_date,...,production_company,tomatometer_status,tomatometer_rating,tomatometer_count,audience_status,audience_rating,audience_count,tomatometer_top_critics_count,tomatometer_fresh_critics_count,tomatometer_rotten_critics_count
0,m/0814255,Percy Jackson & the Olympians: The Lightning T...,"Always trouble-prone, the life of teenager Per...",Though it may seem like just another Harry Pot...,PG,"Action & Adventure, Comedy, Drama, Science Fic...",Chris Columbus,"Craig Titley, Chris Columbus, Rick Riordan","Logan Lerman, Brandon T. Jackson, Alexandra Da...",2010-02-12,...,20th Century Fox,Rotten,49.0,149.0,Spilled,53.0,254421.0,43,73,76
1,m/0878835,Please Give,Kate (Catherine Keener) and her husband Alex (...,Nicole Holofcener's newest might seem slight i...,R,Comedy,Nicole Holofcener,Nicole Holofcener,"Catherine Keener, Amanda Peet, Oliver Platt, R...",2010-04-30,...,Sony Pictures Classics,Certified-Fresh,87.0,142.0,Upright,64.0,11574.0,44,123,19
2,m/10,10,"A successful, middle-aged Hollywood songwriter...",Blake Edwards' bawdy comedy may not score a pe...,R,"Comedy, Romance",Blake Edwards,Blake Edwards,"Dudley Moore, Bo Derek, Julie Andrews, Robert ...",1979-10-05,...,Waner Bros.,Fresh,67.0,24.0,Spilled,53.0,14684.0,2,16,8
3,m/1000013-12_angry_men,12 Angry Men (Twelve Angry Men),Following the closing arguments in a murder tr...,Sidney Lumet's feature debut is a superbly wri...,NR,"Classics, Drama",Sidney Lumet,Reginald Rose,"Martin Balsam, John Fiedler, Lee J. Cobb, E.G....",1957-04-13,...,Criterion Collection,Certified-Fresh,100.0,54.0,Upright,97.0,105386.0,6,54,0
4,m/1000079-20000_leagues_under_the_sea,"20,000 Leagues Under The Sea","In 1866, Professor Pierre M. Aronnax (Paul Luk...","One of Disney's finest live-action adventures,...",G,"Action & Adventure, Drama, Kids & Family",Richard Fleischer,Earl Felton,"James Mason, Kirk Douglas, Paul Lukas, Peter L...",1954-01-01,...,Disney,Fresh,89.0,27.0,Upright,74.0,68918.0,5,24,3

In [5]:
print(len(imdb_DF))
print(len(tomato_DF))

85855
17712

In [6]:
mod_imdb = imdb_DF.drop(columns = ['metascore', 'reviews_from_users','reviews_from_critics'])

In [7]:
#rename col to join 
tomato_DF = tomato_DF.rename(columns = {'movie_title':'title','directors':'director' })

In [58]:
# remove the leading and ending spaces 
#mod_tom = tomato_DF['director'].str.strip()
#tomato_DF['director']=mod_tom

In [8]:
join = tomato_DF.merge(mod_imdb, how="left", left_on= ['title','director'], right_on=['original_title','director'])
join.head()

,rotten_tomatoes_link,title_x,movie_info,critics_consensus,content_rating,genres,director,authors,actors_x,original_release_date,...,language,writer,production_company_y,actors_y,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income
0,m/0814255,Percy Jackson & the Olympians: The Lightning T...,"Always trouble-prone, the life of teenager Per...",Though it may seem like just another Harry Pot...,PG,"Action & Adventure, Comedy, Drama, Science Fic...",Chris Columbus,"Craig Titley, Chris Columbus, Rick Riordan","Logan Lerman, Brandon T. Jackson, Alexandra Da...",2010-02-12,...,"English, Greek, Ancient (to 1453)","Craig Titley, Rick Riordan",Fox 2000 Pictures,"Logan Lerman, Brandon T. Jackson, Alexandra Da...",A teenager discovers he's the descendant of a ...,5.9,174198.0,$ 95000000,$ 88768303,$ 226497209
1,m/0878835,Please Give,Kate (Catherine Keener) and her husband Alex (...,Nicole Holofcener's newest might seem slight i...,R,Comedy,Nicole Holofcener,Nicole Holofcener,"Catherine Keener, Amanda Peet, Oliver Platt, R...",2010-04-30,...,English,Nicole Holofcener,Sony Pictures Classics,"Rebecca Hall, Elizabeth Keener, Elise Ivy, Cat...","In New York City, a husband and wife butt head...",6.6,10928.0,$ 3000000,$ 4033574,$ 4313829
2,m/10,10,"A successful, middle-aged Hollywood songwriter...",Blake Edwards' bawdy comedy may not score a pe...,R,"Comedy, Romance",Blake Edwards,Blake Edwards,"Dudley Moore, Bo Derek, Julie Andrews, Robert ...",1979-10-05,...,English,Blake Edwards,Geoffrey Productions,"Dudley Moore, Julie Andrews, Bo Derek, Robert ...",A Hollywood composer goes through a mid-life c...,6.1,14946.0,NaN,$ 74865517,$ 74865517
3,m/1000013-12_angry_men,12 Angry Men (Twelve Angry Men),Following the closing arguments in a murder tr...,Sidney Lumet's feature debut is a superbly wri...,NR,"Classics, Drama",Sidney Lumet,Reginald Rose,"Martin Balsam, John Fiedler, Lee J. Cobb, E.G....",1957-04-13,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,m/1000079-20000_leagues_under_the_sea,"20,000 Leagues Under The Sea","In 1866, Professor Pierre M. Aronnax (Paul Luk...","One of Disney's finest live-action adventures,...",G,"Action & Adventure, Drama, Kids & Family",Richard Fleischer,Earl Felton,"James Mason, Kirk Douglas, Paul Lukas, Peter L...",1954-01-01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
len(join)

17722

In [10]:
join.columns

Index(['rotten_tomatoes_link', 'title_x', 'movie_info', 'critics_consensus',
       'content_rating', 'genres', 'director', 'authors', 'actors_x',
       'original_release_date', 'streaming_release_date', 'runtime',
       'production_company_x', 'tomatometer_status', 'tomatometer_rating',
       'tomatometer_count', 'audience_status', 'audience_rating',
       'audience_count', 'tomatometer_top_critics_count',
       'tomatometer_fresh_critics_count', 'tomatometer_rotten_critics_count',
       'imdb_title_id', 'title_y', 'original_title', 'year', 'date_published',
       'genre', 'duration', 'country', 'language', 'writer',
       'production_company_y', 'actors_y', 'description', 'avg_vote', 'votes',
       'budget', 'usa_gross_income', 'worlwide_gross_income'],
      dtype='object')

In [75]:
b = tomato_DF.loc[tomato_DF['title']=='A Star Is Born']
b1 = b.iloc[0]['director']
b1

'Bradley Cooper'

In [76]:
c = imdb_DF.loc[imdb_DF['title']=='A Star Is Born']
c1= c.iloc[0]['director']
c1

'Bradley Cooper'

In [77]:
d = c1 == b1
d

True

In [104]:
x= imdb_DF.loc[imdb_DF['title']=='Bakemono No Ko']
x

Empty DataFrame
Columns: [imdb_title_id, title, original_title, year, date_published, genre, duration, country, language, director, writer, production_company, actors, description, avg_vote, votes, budget, usa_gross_income, worlwide_gross_income, metascore, reviews_from_users, reviews_from_critics]
Index: []

[0 rows x 22 columns]

In [12]:
df2 = join.dropna(subset =['avg_vote'])
len(df2)

10651

In [109]:
df = join.loc[join['avg_vote'].isnull()]
df

,title_x,Rating,director,Runtime,Studio,TOMATOMETER score,TOMATOMETER Count,AUDIENCE score,AUDIENCE count,imdb_title_id,...,language,writer,production_company,actors,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income
0,The Angry Birds Movie 2,PG (for rude humor and action),Thurop Van Orman,100 minutes,Columbia Pictures,73%,107,84%,"4,023",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Legend Of The Demon Cat (Kûkai),NR,Kaige Chen,129 minutes,Well Go USA,91%,11,37%,74,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Danger Close,"R (for sequences of war violence, and languag...",Kriv Stenders,118 minutes,Saban Films,67%,30,67%,90,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Them That Follow,R (for some disturbing violence),"Britt Poulton, Dan Madison Savage",98 minutes,1091,59%,91,47%,147,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,The Peanut Butter Falcon,"PG-13 (for thematic content, language through...","Tyler Nilson, Michael Schwartz",93 minutes,Roadside Attractions,96%,200,96%,"4,704",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2095,The Boy And The Beast (Bakemono No Ko),"R (for strong combat violence throughout, blo...",Michael Bay,144 minutes,Paramount Pictures,51%,67,82%,"33,491",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2096,The Other Side of the Door,"R (for strong sexual content, graphic nudity ...","Charlie Kaufman, Duke Johnson",96 minutes,Starburns Industries,92%,37,71%,"19,600",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2097,Touched With Fire,R (for violence and language throughout.),Paco Cabezas,90 minutes,Circle of Confusion,44%,50,55%,"6,208",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2098,The Funhouse Massacre,R (for language and some violence/torture),Florian Gallenberger,110 minutes,Majestic Filmproduktion,26%,14,61%,"3,914",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2099,A War (Krigen),PG-13 (for some violence and language.),Mamoru Hosoda,119 minutes,FUNimation Entertainment,90%,92,88%,"2,982",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN