In [1]:
import pandas as pd 
import os 
import datetime as dt

In [2]:
# imdb_DF = pd.read_csv('Raw_Data/IMDb movies.csv')
imdb_DF = pd.read_csv('Raw_Data/clean_imdb.csv')
tomato_DF = pd.read_csv('Raw_Data/rotten_tomatoes_movies.csv')

In [3]:
imdb_DF.columns

Index(['Unnamed: 0', 'imdb_title_id', 'title', 'original_title', 'year',
       'date_published', 'genre', 'duration', 'country', 'language',
       'director', 'writer', 'production_company', 'actors', 'description',
       'avg_vote', 'votes', 'budget', 'usa_gross_income',
       'worlwide_gross_income', 'metascore', 'reviews_from_users',
       'reviews_from_critics'],
      dtype='object')

In [4]:
#remove the columns we don't want for the merged ratings table 
mod_imdb = imdb_DF.drop(columns=['Unnamed: 0','metascore', 'reviews_from_users','reviews_from_critics'])
#renaming some columns
mod_imdb = mod_imdb.rename(columns = {'description':'imdb_description','avg_vote':'imdb rating'})
mod_imdb['year'] = mod_imdb['year'].astype(str)

In [5]:
tomato_DF.columns

Index(['rotten_tomatoes_link', 'movie_title', 'movie_info',
       'critics_consensus', 'content_rating', 'genres', 'directors', 'authors',
       'actors', 'original_release_date', 'streaming_release_date', 'runtime',
       'production_company', 'tomatometer_status', 'tomatometer_rating',
       'tomatometer_count', 'audience_status', 'audience_rating',
       'audience_count', 'tomatometer_top_critics_count',
       'tomatometer_fresh_critics_count', 'tomatometer_rotten_critics_count'],
      dtype='object')

In [6]:
tomato_DF=tomato_DF.drop(labels=0, axis=0)
tomato_DF.head()

,rotten_tomatoes_link,movie_title,movie_info,critics_consensus,content_rating,genres,directors,authors,actors,original_release_date,...,production_company,tomatometer_status,tomatometer_rating,tomatometer_count,audience_status,audience_rating,audience_count,tomatometer_top_critics_count,tomatometer_fresh_critics_count,tomatometer_rotten_critics_count
1,m/0878835,Please Give,Kate (Catherine Keener) and her husband Alex (...,Nicole Holofcener's newest might seem slight i...,R,Comedy,Nicole Holofcener,Nicole Holofcener,"Catherine Keener, Amanda Peet, Oliver Platt, R...",2010-04-30,...,Sony Pictures Classics,Certified-Fresh,87.0,142.0,Upright,64.0,11574.0,44,123,19
2,m/10,10,"A successful, middle-aged Hollywood songwriter...",Blake Edwards' bawdy comedy may not score a pe...,R,"Comedy, Romance",Blake Edwards,Blake Edwards,"Dudley Moore, Bo Derek, Julie Andrews, Robert ...",1979-10-05,...,Waner Bros.,Fresh,67.0,24.0,Spilled,53.0,14684.0,2,16,8
3,m/1000013-12_angry_men,12 Angry Men (Twelve Angry Men),Following the closing arguments in a murder tr...,Sidney Lumet's feature debut is a superbly wri...,NR,"Classics, Drama",Sidney Lumet,Reginald Rose,"Martin Balsam, John Fiedler, Lee J. Cobb, E.G....",1957-04-13,...,Criterion Collection,Certified-Fresh,100.0,54.0,Upright,97.0,105386.0,6,54,0
4,m/1000079-20000_leagues_under_the_sea,"20,000 Leagues Under The Sea","In 1866, Professor Pierre M. Aronnax (Paul Luk...","One of Disney's finest live-action adventures,...",G,"Action & Adventure, Drama, Kids & Family",Richard Fleischer,Earl Felton,"James Mason, Kirk Douglas, Paul Lukas, Peter L...",1954-01-01,...,Disney,Fresh,89.0,27.0,Upright,74.0,68918.0,5,24,3
5,m/10000_bc,"10,000 B.C.",Mammoth hunter D'Leh (Steven Strait) has long ...,With attention strictly paid to style instead ...,PG-13,"Action & Adventure, Classics, Drama",Roland Emmerich,"Harald Kloser, Roland Emmerich","Steven Strait, Camilla Belle, Cliff Curtis, Jo...",2008-03-07,...,Warner Bros. Pictures,Rotten,8.0,149.0,Spilled,37.0,411140.0,37,12,137

In [7]:
#remove columns 
mod_tomato = tomato_DF.drop(columns =['movie_info','genres', 'directors', 'authors','actors', 'runtime','production_company'])
mod_tomato = mod_tomato.rename(columns = {'movie_title':'title'})

In [8]:
#check the amount of data in each dataframe 
print(len(imdb_DF))
print(len(tomato_DF))

85855
17711

In [10]:
len(mod_tomato['title'].unique())

17105

In [11]:
mod_imdb.dtypes

imdb_title_id             object
title                     object
original_title            object
year                      object
date_published            object
genre                     object
duration                   int64
country                   object
language                  object
director                  object
writer                    object
production_company        object
actors                    object
imdb_description          object
imdb rating              float64
votes                      int64
budget                    object
usa_gross_income          object
worlwide_gross_income     object
dtype: object

In [12]:
mod_tomato.dtypes

rotten_tomatoes_link                 object
title                                object
critics_consensus                    object
content_rating                       object
original_release_date                object
streaming_release_date               object
tomatometer_status                   object
tomatometer_rating                  float64
tomatometer_count                   float64
audience_status                      object
audience_rating                     float64
audience_count                      float64
tomatometer_top_critics_count         int64
tomatometer_fresh_critics_count       int64
tomatometer_rotten_critics_count      int64
dtype: object

In [13]:
mod_tomato['year']=pd.DatetimeIndex(mod_tomato['original_release_date']).year
mod_tomato['year'] = mod_tomato['year'].astype(str).replace('\.0','',regex=True)
mod_tomato.head()

,rotten_tomatoes_link,title,critics_consensus,content_rating,original_release_date,streaming_release_date,tomatometer_status,tomatometer_rating,tomatometer_count,audience_status,audience_rating,audience_count,tomatometer_top_critics_count,tomatometer_fresh_critics_count,tomatometer_rotten_critics_count,year
1,m/0878835,Please Give,Nicole Holofcener's newest might seem slight i...,R,2010-04-30,2012-09-04,Certified-Fresh,87.0,142.0,Upright,64.0,11574.0,44,123,19,2010
2,m/10,10,Blake Edwards' bawdy comedy may not score a pe...,R,1979-10-05,2014-07-24,Fresh,67.0,24.0,Spilled,53.0,14684.0,2,16,8,1979
3,m/1000013-12_angry_men,12 Angry Men (Twelve Angry Men),Sidney Lumet's feature debut is a superbly wri...,NR,1957-04-13,2017-01-13,Certified-Fresh,100.0,54.0,Upright,97.0,105386.0,6,54,0,1957
4,m/1000079-20000_leagues_under_the_sea,"20,000 Leagues Under The Sea","One of Disney's finest live-action adventures,...",G,1954-01-01,2016-06-10,Fresh,89.0,27.0,Upright,74.0,68918.0,5,24,3,1954
5,m/10000_bc,"10,000 B.C.",With attention strictly paid to style instead ...,PG-13,2008-03-07,2013-06-22,Rotten,8.0,149.0,Spilled,37.0,411140.0,37,12,137,2008

In [14]:
temp_imdb = mod_imdb.drop(columns=['title'])
#renaming some columns
temp_imdb = temp_imdb.rename(columns = {'original_title':'title'})

In [15]:
m1 = pd.merge(mod_tomato, temp_imdb, how='inner', on=['title','year'])
m2 = pd.merge(mod_tomato, mod_imdb, how='inner', on=['title','year'])
m3 = pd.concat([m1,m2]).drop_duplicates()

In [16]:
m3.head()

,rotten_tomatoes_link,title,critics_consensus,content_rating,original_release_date,streaming_release_date,tomatometer_status,tomatometer_rating,tomatometer_count,audience_status,...,writer,production_company,actors,imdb_description,imdb rating,votes,budget,usa_gross_income,worlwide_gross_income,original_title
0,m/0878835,Please Give,Nicole Holofcener's newest might seem slight i...,R,2010-04-30,2012-09-04,Certified-Fresh,87.0,142.0,Upright,...,Nicole Holofcener,Sony Pictures Classics,"Rebecca Hall, Elizabeth Keener, Elise Ivy, Cat...","In New York City, a husband and wife butt head...",6.6,10928,$ 3000000,$ 4033574,$ 4313829,NaN
1,m/10,10,Blake Edwards' bawdy comedy may not score a pe...,R,1979-10-05,2014-07-24,Fresh,67.0,24.0,Spilled,...,Blake Edwards,Geoffrey Productions,"Dudley Moore, Julie Andrews, Bo Derek, Robert ...",A Hollywood composer goes through a mid-life c...,6.1,14946,NaN,$ 74865517,$ 74865517,NaN
2,m/1000121-39_steps,The 39 Steps,"Packed with twists and turns, this essential e...",NR,1935-08-01,2017-01-12,Certified-Fresh,96.0,51.0,Upright,...,"John Buchan, Charles Bennett",Gaumont British Picture Corporation,"Robert Donat, Madeleine Carroll, Lucie Mannhei...",A man in London tries to help a counter-espion...,7.6,50519,GBP 50000,NaN,$ 51711,NaN
3,m/1000123-310_to_yuma,3:10 to Yuma,NaN,NR,1957-08-07,2012-04-16,Fresh,96.0,28.0,Upright,...,"Halsted Welles, Elmore Leonard",Columbia Pictures,"Glenn Ford, Van Heflin, Felicia Farr, Leora Da...",Broke small-time rancher Dan Evans is hired by...,7.6,17797,NaN,$ 4033000,NaN,NaN
4,m/1000204-abraham_lincoln,Abraham Lincoln,NaN,NR,1930-11-08,2013-12-03,Fresh,82.0,11.0,Spilled,...,"Stephen Vincent Benet, John W. Considine Jr.",D.W. Griffith Productions,"William L. Thorne, Lucille La Verne, Helen Fre...",An episodic biography of the 16th President of...,5.7,1308,NaN,NaN,NaN,NaN

In [17]:
len(m3)

12812

In [20]:
m3.columns

Index(['rotten_tomatoes_link', 'title', 'critics_consensus', 'content_rating',
       'original_release_date', 'streaming_release_date', 'tomatometer_status',
       'tomatometer_rating', 'tomatometer_count', 'audience_status',
       'audience_rating', 'audience_count', 'tomatometer_top_critics_count',
       'tomatometer_fresh_critics_count', 'tomatometer_rotten_critics_count',
       'year', 'imdb_title_id', 'date_published', 'genre', 'duration',
       'country', 'language', 'director', 'writer', 'production_company',
       'actors', 'imdb_description', 'imdb rating', 'votes', 'budget',
       'usa_gross_income', 'worlwide_gross_income', 'original_title'],
      dtype='object')

In [19]:
#quick check on data to see nothing is crazy off 
m3[['title','original_title','date_published','original_release_date']]

                title original_title date_published original_release_date
0         Please Give            NaN     2010-06-18            2010-04-30
1                  10            NaN     1979-10-05            1979-10-05
2        The 39 Steps            NaN     1936-04-25            1935-08-01
3        3:10 to Yuma            NaN     1957-10-03            1957-08-07
4     Abraham Lincoln            NaN     1930-11-08            1930-11-08
...               ...            ...            ...                   ...
3685      Zoolander 2    Zoolander 2     2016-02-12            2016-02-12
3686             Zoom           Zoom     2006-08-11            2006-08-11
3687        Zoot Suit      Zoot Suit     1982-01-01            1981-10-02
3688             Zulu           Zulu     1964-06-10            1964-06-17
3689        Zulu Dawn      Zulu Dawn     1979-05-15            1979-12-14

[12812 rows x 4 columns]

In [23]:
df = m3.loc[m3['imdb rating'].isnull()]
m3.head()

,rotten_tomatoes_link,title,critics_consensus,content_rating,original_release_date,streaming_release_date,tomatometer_status,tomatometer_rating,tomatometer_count,audience_status,...,writer,production_company,actors,imdb_description,imdb rating,votes,budget,usa_gross_income,worlwide_gross_income,original_title
0,m/0878835,Please Give,Nicole Holofcener's newest might seem slight i...,R,2010-04-30,2012-09-04,Certified-Fresh,87.0,142.0,Upright,...,Nicole Holofcener,Sony Pictures Classics,"Rebecca Hall, Elizabeth Keener, Elise Ivy, Cat...","In New York City, a husband and wife butt head...",6.6,10928,$ 3000000,$ 4033574,$ 4313829,NaN
1,m/10,10,Blake Edwards' bawdy comedy may not score a pe...,R,1979-10-05,2014-07-24,Fresh,67.0,24.0,Spilled,...,Blake Edwards,Geoffrey Productions,"Dudley Moore, Julie Andrews, Bo Derek, Robert ...",A Hollywood composer goes through a mid-life c...,6.1,14946,NaN,$ 74865517,$ 74865517,NaN
2,m/1000121-39_steps,The 39 Steps,"Packed with twists and turns, this essential e...",NR,1935-08-01,2017-01-12,Certified-Fresh,96.0,51.0,Upright,...,"John Buchan, Charles Bennett",Gaumont British Picture Corporation,"Robert Donat, Madeleine Carroll, Lucie Mannhei...",A man in London tries to help a counter-espion...,7.6,50519,GBP 50000,NaN,$ 51711,NaN
3,m/1000123-310_to_yuma,3:10 to Yuma,NaN,NR,1957-08-07,2012-04-16,Fresh,96.0,28.0,Upright,...,"Halsted Welles, Elmore Leonard",Columbia Pictures,"Glenn Ford, Van Heflin, Felicia Farr, Leora Da...",Broke small-time rancher Dan Evans is hired by...,7.6,17797,NaN,$ 4033000,NaN,NaN
4,m/1000204-abraham_lincoln,Abraham Lincoln,NaN,NR,1930-11-08,2013-12-03,Fresh,82.0,11.0,Spilled,...,"Stephen Vincent Benet, John W. Considine Jr.",D.W. Griffith Productions,"William L. Thorne, Lucille La Verne, Helen Fre...",An episodic biography of the 16th President of...,5.7,1308,NaN,NaN,NaN,NaN

In [28]:
m3 = m3.drop_duplicates(subset =['rotten_tomatoes_link','title'],keep='first').reset_index(drop = True)
m3.head()

,rotten_tomatoes_link,title,critics_consensus,content_rating,original_release_date,streaming_release_date,tomatometer_status,tomatometer_rating,tomatometer_count,audience_status,...,writer,production_company,actors,imdb_description,imdb rating,votes,budget,usa_gross_income,worlwide_gross_income,original_title
0,m/0878835,Please Give,Nicole Holofcener's newest might seem slight i...,R,2010-04-30,2012-09-04,Certified-Fresh,87.0,142.0,Upright,...,Nicole Holofcener,Sony Pictures Classics,"Rebecca Hall, Elizabeth Keener, Elise Ivy, Cat...","In New York City, a husband and wife butt head...",6.6,10928,$ 3000000,$ 4033574,$ 4313829,NaN
1,m/10,10,Blake Edwards' bawdy comedy may not score a pe...,R,1979-10-05,2014-07-24,Fresh,67.0,24.0,Spilled,...,Blake Edwards,Geoffrey Productions,"Dudley Moore, Julie Andrews, Bo Derek, Robert ...",A Hollywood composer goes through a mid-life c...,6.1,14946,NaN,$ 74865517,$ 74865517,NaN
2,m/1000121-39_steps,The 39 Steps,"Packed with twists and turns, this essential e...",NR,1935-08-01,2017-01-12,Certified-Fresh,96.0,51.0,Upright,...,"John Buchan, Charles Bennett",Gaumont British Picture Corporation,"Robert Donat, Madeleine Carroll, Lucie Mannhei...",A man in London tries to help a counter-espion...,7.6,50519,GBP 50000,NaN,$ 51711,NaN
3,m/1000123-310_to_yuma,3:10 to Yuma,NaN,NR,1957-08-07,2012-04-16,Fresh,96.0,28.0,Upright,...,"Halsted Welles, Elmore Leonard",Columbia Pictures,"Glenn Ford, Van Heflin, Felicia Farr, Leora Da...",Broke small-time rancher Dan Evans is hired by...,7.6,17797,NaN,$ 4033000,NaN,NaN
4,m/1000204-abraham_lincoln,Abraham Lincoln,NaN,NR,1930-11-08,2013-12-03,Fresh,82.0,11.0,Spilled,...,"Stephen Vincent Benet, John W. Considine Jr.",D.W. Griffith Productions,"William L. Thorne, Lucille La Verne, Helen Fre...",An episodic biography of the 16th President of...,5.7,1308,NaN,NaN,NaN,NaN

In [29]:
len(m3)

9147

In [33]:
m3.loc[m3["title"] == "Inception"]

,rotten_tomatoes_link,title,critics_consensus,content_rating,original_release_date,streaming_release_date,tomatometer_status,tomatometer_rating,tomatometer_count,audience_status,...,writer,production_company,actors,imdb_description,imdb rating,votes,budget,usa_gross_income,worlwide_gross_income,original_title
4560,m/inception,Inception,"Smart, innovative, and thrilling, Inception is...",PG-13,2010-07-16,2013-06-20,Certified-Fresh,87.0,357.0,Upright,...,Christopher Nolan,Warner Bros.,"Leonardo DiCaprio, Joseph Gordon-Levitt, Ellen...",A thief who steals corporate secrets through t...,8.8,2002816,$ 160000000,$ 292576195,$ 869784991,NaN

In [ ]:
#declarative Base
Base = declarative_base()

In [ ]:
#Create Engine movies_db
engine = create_engine("sqlite:///movies_db.sqlite")

In [ ]:
# This creates the DB (movies_dv.sqllite) and connects to it
conn = engine.connect()

In [39]:
#%run movies.ipynb