In [1]:
# dependencies and setup
import pandas as pd

# files to load
file1 = "Raw_Data/IMDB movies.csv"
file2 = "Raw_Data/rotten tomato movie reviwe.csv"

# read files and store into pandas dataframe
IMDB_movies = pd.read_csv(file1, low_memory=False)
rotten_tomatoes = pd.read_csv(file2, low_memory=False)

In [2]:
# view IMDB_movies dataframe
IMDB_movies.head()

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,...,actors,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics
0,tt0000009,Miss Jerry,Miss Jerry,1894,1894-10-09,Romance,45,USA,None,Alexander Black,...,"Blanche Bayliss, William Courtenay, Chauncey D...",The adventures of a female reporter in the 1890s.,5.9,154,NaN,NaN,NaN,NaN,1.0,2.0
1,tt0000574,The Story of the Kelly Gang,The Story of the Kelly Gang,1906,12/26/1906,"Biography, Crime, Drama",70,Australia,None,Charles Tait,...,"Elizabeth Tait, John Tait, Norman Campbell, Be...",True story of notorious Australian outlaw Ned ...,6.1,589,"$2,250",NaN,NaN,NaN,7.0,7.0
2,tt0001892,Den sorte drøm,Den sorte drøm,1911,8/19/1911,Drama,53,"Germany, Denmark",NaN,Urban Gad,...,"Asta Nielsen, Valdemar Psilander, Gunnar Helse...",Two men of high rank are both wooing the beaut...,5.8,188,NaN,NaN,NaN,NaN,5.0,2.0
3,tt0002101,Cleopatra,Cleopatra,1912,11/13/1912,"Drama, History",100,USA,English,Charles L. Gaskill,...,"Helen Gardner, Pearl Sindelar, Miss Fielding, ...",The fabled queen of Egypt's affair with Roman ...,5.2,446,"$45,000",NaN,NaN,NaN,25.0,3.0
4,tt0002130,L'Inferno,L'Inferno,1911,3/6/1911,"Adventure, Drama, Fantasy",68,Italy,Italian,"Francesco Bertolini, Adolfo Padovan",...,"Salvatore Papa, Arturo Pirovano, Giuseppe de L...",Loosely adapted from Dante's Divine Comedy and...,7.0,2237,NaN,NaN,NaN,NaN,31.0,14.0

In [3]:
# rename IMDB avg_vote to ratings
IMDB_movies = IMDB_movies.rename(columns={"avg_vote":"IMBD Ratings"})
IMDB_movies.head()

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,...,actors,description,IMBD Ratings,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics
0,tt0000009,Miss Jerry,Miss Jerry,1894,1894-10-09,Romance,45,USA,None,Alexander Black,...,"Blanche Bayliss, William Courtenay, Chauncey D...",The adventures of a female reporter in the 1890s.,5.9,154,NaN,NaN,NaN,NaN,1.0,2.0
1,tt0000574,The Story of the Kelly Gang,The Story of the Kelly Gang,1906,12/26/1906,"Biography, Crime, Drama",70,Australia,None,Charles Tait,...,"Elizabeth Tait, John Tait, Norman Campbell, Be...",True story of notorious Australian outlaw Ned ...,6.1,589,"$2,250",NaN,NaN,NaN,7.0,7.0
2,tt0001892,Den sorte drøm,Den sorte drøm,1911,8/19/1911,Drama,53,"Germany, Denmark",NaN,Urban Gad,...,"Asta Nielsen, Valdemar Psilander, Gunnar Helse...",Two men of high rank are both wooing the beaut...,5.8,188,NaN,NaN,NaN,NaN,5.0,2.0
3,tt0002101,Cleopatra,Cleopatra,1912,11/13/1912,"Drama, History",100,USA,English,Charles L. Gaskill,...,"Helen Gardner, Pearl Sindelar, Miss Fielding, ...",The fabled queen of Egypt's affair with Roman ...,5.2,446,"$45,000",NaN,NaN,NaN,25.0,3.0
4,tt0002130,L'Inferno,L'Inferno,1911,3/6/1911,"Adventure, Drama, Fantasy",68,Italy,Italian,"Francesco Bertolini, Adolfo Padovan",...,"Salvatore Papa, Arturo Pirovano, Giuseppe de L...",Loosely adapted from Dante's Divine Comedy and...,7.0,2237,NaN,NaN,NaN,NaN,31.0,14.0

In [4]:
# remove metascore, reviews_from_users, and reviews_from_critics from IMDB
IMDB_movies = IMDB_movies.drop(columns=['metascore', 'reviews_from_users', 'reviews_from_critics'])
IMDB_movies.head()

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,writer,production_company,actors,description,IMBD Ratings,votes,budget,usa_gross_income,worlwide_gross_income
0,tt0000009,Miss Jerry,Miss Jerry,1894,1894-10-09,Romance,45,USA,None,Alexander Black,Alexander Black,Alexander Black Photoplays,"Blanche Bayliss, William Courtenay, Chauncey D...",The adventures of a female reporter in the 1890s.,5.9,154,NaN,NaN,NaN
1,tt0000574,The Story of the Kelly Gang,The Story of the Kelly Gang,1906,12/26/1906,"Biography, Crime, Drama",70,Australia,None,Charles Tait,Charles Tait,J. and N. Tait,"Elizabeth Tait, John Tait, Norman Campbell, Be...",True story of notorious Australian outlaw Ned ...,6.1,589,"$2,250",NaN,NaN
2,tt0001892,Den sorte drøm,Den sorte drøm,1911,8/19/1911,Drama,53,"Germany, Denmark",NaN,Urban Gad,"Urban Gad, Gebhard Schätzler-Perasini",Fotorama,"Asta Nielsen, Valdemar Psilander, Gunnar Helse...",Two men of high rank are both wooing the beaut...,5.8,188,NaN,NaN,NaN
3,tt0002101,Cleopatra,Cleopatra,1912,11/13/1912,"Drama, History",100,USA,English,Charles L. Gaskill,Victorien Sardou,Helen Gardner Picture Players,"Helen Gardner, Pearl Sindelar, Miss Fielding, ...",The fabled queen of Egypt's affair with Roman ...,5.2,446,"$45,000",NaN,NaN
4,tt0002130,L'Inferno,L'Inferno,1911,3/6/1911,"Adventure, Drama, Fantasy",68,Italy,Italian,"Francesco Bertolini, Adolfo Padovan",Dante Alighieri,Milano Film,"Salvatore Papa, Arturo Pirovano, Giuseppe de L...",Loosely adapted from Dante's Divine Comedy and...,7.0,2237,NaN,NaN,NaN

In [5]:
# clean up IMDB column names
IMDB_movies = IMDB_movies.rename(columns={"imdb_title_id":"IMDB Title ID", "title":"Title", "original_title":"Original Title", "year":"Year", "date_published":"Date Published", "genre": "Genre", "duration":"Duration", "country":"Country", "language":"Language", "director":"Director", "writer":"Writer", "production_company":"Production Company", "actors":"Actors", "description":"Description", "votes":"Votes", "budget":"Budget", "usa_gross_income":"Gross Income: USA", "worlwide_gross_income":"Gross Income: Worldwide"})
IMDB_movies.head()

,IMDB Title ID,Title,Original Title,Year,Date Published,Genre,Duration,Country,Language,Director,Writer,Production Company,Actors,Description,IMBD Ratings,Votes,Budget,Gross Income: USA,Gross Income: Worldwide
0,tt0000009,Miss Jerry,Miss Jerry,1894,1894-10-09,Romance,45,USA,None,Alexander Black,Alexander Black,Alexander Black Photoplays,"Blanche Bayliss, William Courtenay, Chauncey D...",The adventures of a female reporter in the 1890s.,5.9,154,NaN,NaN,NaN
1,tt0000574,The Story of the Kelly Gang,The Story of the Kelly Gang,1906,12/26/1906,"Biography, Crime, Drama",70,Australia,None,Charles Tait,Charles Tait,J. and N. Tait,"Elizabeth Tait, John Tait, Norman Campbell, Be...",True story of notorious Australian outlaw Ned ...,6.1,589,"$2,250",NaN,NaN
2,tt0001892,Den sorte drøm,Den sorte drøm,1911,8/19/1911,Drama,53,"Germany, Denmark",NaN,Urban Gad,"Urban Gad, Gebhard Schätzler-Perasini",Fotorama,"Asta Nielsen, Valdemar Psilander, Gunnar Helse...",Two men of high rank are both wooing the beaut...,5.8,188,NaN,NaN,NaN
3,tt0002101,Cleopatra,Cleopatra,1912,11/13/1912,"Drama, History",100,USA,English,Charles L. Gaskill,Victorien Sardou,Helen Gardner Picture Players,"Helen Gardner, Pearl Sindelar, Miss Fielding, ...",The fabled queen of Egypt's affair with Roman ...,5.2,446,"$45,000",NaN,NaN
4,tt0002130,L'Inferno,L'Inferno,1911,3/6/1911,"Adventure, Drama, Fantasy",68,Italy,Italian,"Francesco Bertolini, Adolfo Padovan",Dante Alighieri,Milano Film,"Salvatore Papa, Arturo Pirovano, Giuseppe de L...",Loosely adapted from Dante's Divine Comedy and...,7.0,2237,NaN,NaN,NaN

In [6]:
# view Rotten Tomatoes dataframe
rotten_tomatoes.head()

,Name,Rating,Directed By,Runtime,Studio,TOMATOMETER score,TOMATOMETER Count,AUDIENCE score,AUDIENCE count
0,The Angry Birds Movie 2,PG (for rude humor and action),Thurop Van Orman,100 minutes,Columbia Pictures,73%,107,84%,"4,023"
1,Legend Of The Demon Cat (Kûkai),NR,Kaige Chen,129 minutes,Well Go USA,91%,11,37%,74
2,Dora and the Lost City of Gold,PG (for action and some impolite humor),James Bobin,102 minutes,Paramount Pictures,84%,148,88%,"6,715"
3,Luce,"R (for language throughout, sexual content, n...",Julius Onah,109 minutes,NEON,91%,151,77%,284
4,Good Boys,"R (for strong crude sexual content, drug and ...",Gene Stupnitsky,95 minutes,Universal Pictures,80%,237,86%,"13,007"

In [7]:
# rename Rotten Tomatoes columns
rotten_tomatoes = rotten_tomatoes.rename(columns={"Name":"Title", "Directed By":"Director"})
rotten_tomatoes.head()

,Title,Rating,Director,Runtime,Studio,TOMATOMETER score,TOMATOMETER Count,AUDIENCE score,AUDIENCE count
0,The Angry Birds Movie 2,PG (for rude humor and action),Thurop Van Orman,100 minutes,Columbia Pictures,73%,107,84%,"4,023"
1,Legend Of The Demon Cat (Kûkai),NR,Kaige Chen,129 minutes,Well Go USA,91%,11,37%,74
2,Dora and the Lost City of Gold,PG (for action and some impolite humor),James Bobin,102 minutes,Paramount Pictures,84%,148,88%,"6,715"
3,Luce,"R (for language throughout, sexual content, n...",Julius Onah,109 minutes,NEON,91%,151,77%,284
4,Good Boys,"R (for strong crude sexual content, drug and ...",Gene Stupnitsky,95 minutes,Universal Pictures,80%,237,86%,"13,007"

In [8]:
IMDB_movies.to_csv("Raw_Data/updated_IMDB.csv", index=False, header=True)
rotten_tomatoes.to_csv("Raw_Data/updated_rotten_tomatoes.csv", index=False, header=True)